body {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 3em;
}

p {
    font-size: 16px;
    line-height: 23.34px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8em;
  padding-right: 8em;
  padding-top: 2em;
  padding-bottom: 2em;
}

header li {
    list-style-type: none;
    margin-left: 3em;
    font-size: 20px;
}

header ul {
  display: flex;
}

section {
  margin: 4rem;
}

.flex {
  display: flex;
}

.maxwidth-container {
  margin: 0 auto;
  position: relative;
  max-width: 60rem;
}

.banner {
  position: relative;
  padding-bottom: 2rem;
}

.banner h1 {
  margin: 0;
}

.banner .maxwidth-container {
  background-color: rgba(248, 235, 119, 0.15);
  padding: 0rem 6rem;
}

.banner .image {
  flex-basis: 35%;
  flex-shrink: 0;
  flex-grow: 0;
}

.banner .image img {
  object-fit: cover;
  width: 100%;
  height: calc(100% + 8rem);
  margin-top: -4rem;
}

.banner .banner-text {
  padding-left: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-text {
  font-size: 16px;
}

main section button {
  padding: 1em;
  background: #F8EB77;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 24px;
}

.banner button {
  position: absolute;
  right: 0;
  bottom: -2rem;
}

.projects h1 {
  position: relative;
}

.easy-quizy {
    display: flex;
    max-width: 90rem;
    margin-right: 20rem;
}

.easy-quizy div {
    background: #FFEBCE;
    display: flex;
    justify-content: space-between;
}

.easy-quizy div img {
    width: 6em;
    height: auto;
    padding: 0.8rem;
}


.easy-quizy aside {
    padding-left: 5rem;
    padding-right: 5rem;
    border: solid #FF9900;
}


/* MOBILE LAYOUT */
@media (min-width: 0) and (max-width: 699px) {
  .maxwidth-container {
    padding: 1rem;
  }

  section {
    margin: 1rem;
  }

  .banner .image {
    flex-basis: unset;
  }

  .banner .image img {
    height: 16rem;
    width: 100%;
    margin-top: -2em;
  }

  main section button {
    right: -1rem;
    bottom: -2rem;
    padding: 1em;
    font-size: 18px;
  }
}

