/* MOBILE */


/* GENERAL */
body {
  font-family: 'Roboto Mono', monospace;
  line-height: normal;
}

button {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.25rem;
}

h1 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.5rem;
}

h3 {
  font-size: .75rem;
}

p {
    font-size: 0.75rem;
    line-height: 145.9%;
}

img {
  max-width: 100%;
}

section {
  position: relative;
  padding-bottom: 2rem;
  margin: 0rem 3rem;
}

section h1 {
  margin-bottom: 1.5rem;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  margin-bottom: 3rem;
}

header nav {
  display: none;
}

header #logo {
  width: 70px;
}

header li {
    list-style-type: none;
    margin-left: 3em;
    font-size: 20px;
}

header ul {
  display: flex;
}

header #burger {
  width: 2rem;
}


/* BANNER */
.banner-container {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.banner .banner-container {
  background-color: rgba(248, 235, 119, 0.15);
  padding: 0 2rem 1rem 2rem;
}

.banner img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  margin-top: -1rem;
}

.banner .banner-text {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.banner h1 {
  margin-bottom: 1.5rem;
}

.banner button {
  padding: 1.25rem 2rem;
  background: #F8EB77;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 0.875rem;
}

/* PROJECTS */
.projects h1 {
  position: relative;
}

.project-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.project-container.reverse {
  flex-direction: column-reverse;
}

.project-container .image-container {
    display: flex;
    background: #eee;
    padding: 0 1rem;
}

.project-container img {
    height: auto;
    padding: 1rem;
    flex: 0 0 32%;
    min-width: 0;
}

.project-container aside {
  padding: 2rem;
  border: 1px solid #ccc;
}

.project-container h3 {
  font-size: 0.625rem;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.43);
}

.project-container h2  {
  margin-bottom: 1rem;
}

.project-container p {
  font-size: 0.625rem;
}

.project-container.orange .image-container {
  background: #FFEBCE;
}

.project-container.orange aside {
  border: 1px solid #FF9900;
}

.project-container.purple .image-container {
  background: #EEE0FF;
}

.project-container.purple aside {
  border: 1px solid #7000FF;
}

.project-container.pink .image-container {
  background: #FFECFF;
}

.project-container.pink aside {
  border: 1px solid #FA00FF;
}

.project-container.blue .image-container {
  background: #E0EEFF;
}

.project-container.blue aside {
  border: 1px solid #0085FF;
}

.project-container.green .image-container {
  background: #DDFFD8;
} 

.project-container.green aside {
  border: 1px solid #24FF00;
}

.project-container.cyan .image-container {
  background: #D8F6FF;
}

.project-container.cyan aside {
  border: 1px solid #00C2FF;
}

/* CONTACT */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact .contact-image {
  width: 65%;
  margin: 0 2rem 1rem 2rem;
}

.contact h2 {
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}

.contact .logos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .logos img {
  width: auto;
  margin: 0 1rem;
}

/* IT'S ME */

.timeline {
  display: flex;
  flex-direction: column;
}

.timeline .timeframe {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timeline.blue .timeframe{
  background: #D8F6FF;
}

.timeline.green .timeframe{
  background: #DDFFD8
}

.timeline.orange .timeframe{
  background: #FFEBCE;
}

.timeline .timeline-text {
  padding: 1rem 1rem;
  order: 3;
}

.timeline.blue .timeline-text {
  border: 1px solid #00C2FF;
}

.timeline.green .timeline-text {
  border: 1px solid #24FF00
}

.timeline.orange .timeline-text {
  border: 1px solid #FF9900
}

.timeline .timeline-text h2 {
  margin-bottom: 1rem;
}

.timeline .timeline-text h3 {
  margin-bottom: 2rem;
}

.timeline img {
  height: 250px;
  object-fit: cover;
}

/* DESKTOP */

@media (min-width: 640px) {
  h1 {
    font-size: 3rem;
    letter-spacing: 0.105rem;
    line-height: normal;
  }

  h2 {
    font-size: 2.25rem;
    margin-bottom: 3.25rem;
  }

  h3 {
    font-size: 1.25rem;
  }
  
  p {
      font-size: 1rem;
      line-height: 145.9%;
  }

  header #logo {
    width: auto;
  }

  header {
    padding: 2rem 8rem;
    margin-bottom: 6rem;
  }

  header nav {
    display: block;
  }

  header #burger {
    display: none;
  }

  section.banner {
    margin: 0rem 8rem;
  }

  .banner {
    margin-bottom: 0rem;
  }

  .banner-container.right {
    margin-bottom: 10rem;
  }

  .banner-container.right img {
    right: 8rem;
    width: 30%;
  }

  .banner-container.right .banner-text {
    margin-left: 0;
  }

  .banner .maxwidth-container {
    flex-direction: row;
    padding-left: 7rem;
    max-width: 64rem;

  }

  .banner .banner-text {
    padding: 6rem 4rem 8rem 7rem;
    width: 65%;
    margin-left: auto;
  }

  .banner img {
    object-fit: cover;
    position: absolute;
    width: 23% ;
    margin-top: -4rem;
    height: calc(100% + 6rem);
    margin-left: 6rem;
  }

  .banner button {
    position: absolute;
    bottom: -2rem;
    right: 3rem;
    padding: 2rem 4rem;
    font-size: 1.25rem;
  }

  .projects {
    margin: 0;
  }
  .projects h1 {
    margin: 8rem 8rem 4rem 16rem;
  }

  .project-container {
    flex-direction: row;
    max-width: 64rem;
    font-size: 0.875rem;
  }

  .project-container h3 {
    font-size: 0.875rem;
  }

  .project-container.reverse {
    flex-direction: row;
  }

  .project-container.right {
    margin-left: auto;
  }

  .project-container.center {
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
  }

  .project-container .image-container {
    min-width: 0;
    padding: 4rem 5rem;
  }

  .project-container aside {
    padding: 2.5rem 4rem;
  }

  .project-container img {
    padding: .25rem;
  }

  .project-container h3 {
    margin-bottom: 1.5rem;
  }

  .project-container h2 {
    margin-bottom: 2.5rem;
  }

  /* CONTACT */
  .contact {
    flex-direction: row;
    align-items: flex-start;
    max-width: 60rem;
    margin: 0 auto;
  }

  .contact .contact-block {
    background-color: rgba(248, 235, 119, 0.15);
    border: 2px solid rgb(248, 235, 119);
    padding: 3rem 4rem 3rem 4rem;
  }

  .contact h2 {
    text-align: left;
    font-family: Roboto Flex;
    line-height: 145.9%;
    letter-spacing: 0.105rem;
  }

  .contact .contact-image {
    width: 30%;
  }

  .contact form, 
  .contact .name, 
  .contact .last-name, 
  .contact .email {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }

  .contact .full-name {
    display: flex;
    flex-direction: row;
  }

  .contact .name {
    margin-right: 3rem;
  }

  .contact textarea {
    padding-bottom: 10rem;
    margin-bottom: 2rem;
  }

  .contact button {
    padding: 1.25rem 2rem;
    background: #F8EB77;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-size: 0.875rem;
  }

  .story {
    margin: 0;
  }

  .timeline {
    flex-direction: row;
    max-width: 80rem;
    margin-bottom: 10rem;
  }

  .timeline .timeline-text {
    order: initial;
    padding: 3rem 4rem 4rem 5rem;
  }

  .timeline .timeline-text p {
    margin-bottom: 1.5rem;
  }

  .timeline .timeline-text h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 145.9%;
  }

  .timeline .timeline-text h3 {
    color: rgba(0, 0, 0, 0.43);
    margin-bottom: 3rem;
  }

  .timeline img {
    height: auto;
    width: 35%;
  }

  .timeline.right {
    margin-left: auto;
  }

  .timeframe {
    padding: 0;
  }

  .timeline.right .timeframe span {
    text-wrap: nowrap;
    font-size: 2rem;
    transform: rotateZ(270deg);
  }

  .timeline.left .timeframe span {
    text-wrap: nowrap;
    font-size: 2rem;
    transform: rotateZ(90deg);
  }

}